*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  /* Colors */
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container__page {
  position: relative;
}

.container__page {
  position: relative;
  min-height: 50vh; // optional - it may not help with responsiveness
}

.container__content {
  padding-bottom: 2.5rem; /* Footer height */
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */

  font-size: 11px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.attribution a {
  color: blue;
}
